.team {
    background-image: url("../../../public/cool-background4.png");
    background-size: cover;
    background-position: left;
}

@media screen and (min-width: 1024px) {
    .team {

        background-image: url("../../../public/cool-background5.png");
        background-size: cover;
        background-position: center;


    }
}