
.facebook{
    transition: 0.4s;
}

.facebook:hover{
    color: #4267B2
   }

.insta{
    transition: 0.4s;
}

.insta:hover{
    color: #E1306C
}

.whats{
    transition: 0.4s;
}

.whats:hover{
    color: #25D366;
}

